<div>
    <h1>Respostas:</h1>
    <section class="grid">
        <div class="item">
            <h2>{{question}}</h2>
        </div>
        <div class="item">
            <br>
        </div>
        <div class="item">
            <input placeholder="Pesquise aqui..." class="form-control" type="text" name="search" [(ngModel)]="filter">
        </div>
        <div class="item">
            <br>
        </div>
        <div class="item" *ngFor="let answer of listAnswer | filter:filter; let i = index">
            <a (click)="onClickLike(answer.likes,answer._id)">
                <mat-icon *ngIf="!answer.likes">favorite_border</mat-icon>
            </a>
            <a (click)="onClickLike(answer.likes,answer._id)">
                <mat-icon *ngIf="answer.likes">favorite</mat-icon>&nbsp;{{answer.likes}}
            </a>&nbsp;&nbsp;
            &nbsp;&nbsp;
            {{ answer.text }}
        </div>
        <div class="item">
            <br>
            <hr />
        </div>
        <div class="item">
            <form #formCompleto="ngForm">
                <div class="row">
                    <div class="input-field">
                        <label for="resposta" class="label-text">Deseja responder?&nbsp;&nbsp;&nbsp;&nbsp;
                        </label>
                        <input placeholder="Resposta" id="resposta" type="text" class="validate" ngModel
                            #newAnswer="ngModel" name="newAnswer" id="newAnswer" required>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <a class="btn btn-secundario col-1" routerLink="/">Voltar</a>
                        &nbsp;&nbsp;
                        <button type="submit" class="btn btn-primary col-1"
                            (click)="onSubmit(formCompleto);">Salvar</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>